<% masseges.forEach(massege=>{ %>
  <div><h1><%= massege.user %></h1> 
  <p><%= massege.text %></p> 
  <p><%= massege.added %></p></div> 
  <% }) %>
<a href="/new">add a massege</a>



<style>

  *{
border: 2px solid saddlebrown;
  }
</style>


